<a href="https://colab.research.google.com/github/DanielBravoPatino/AD2003B/blob/main/labPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PRACTICA
### AD2004B.403.M2.EF2023
### Laboratorio de PANDAS



> En este Lab practicaras el uso de **Pandas** para realizar análisis de datos. Partiremos de la carga de datos desde un archivo de Excel para despues manipular visualizar esto datos con Python. 
EL archivo de Excel debe de estar en Github.



##### Nombre del archivo: "labPandas"
#### Utilizaremos el archivo "Superstore.xls"

## PANDAS
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html


**Importar** un archivo de datos con **pandas**
>Como primer paso se debe importar la libreria de Pandas, lo cual nos da acceso a las funciones necesarias para manipulación de los datos.

In [ ]:
# Importamos la Libreria pandas con el alias "pd"
import pandas as pd

## Importar archivo de Excel
> Es importante que tengan correcta la ruta donde esta el archivo, en este caso el archivo debe estar en el repositorio correspondiente a la clase de GitHub.

In [ ]:
#Importar archivo en un dataframe
URL= '/content/Superstore.xls'
datos = pd.read_excel(URL)
datos

# Conoce los Datos.
Identificar y documentar de manera general que contiene el archivo de datos.
Una buena idea es crear un glosario de términos donde se describa cada uno de los datos manejados.

In [ ]:
#Ejecuta las intrucciones necesarias para conocer los datos. 
# METADATOS
print(dfDatos.columns) #nombre de las columnas

Index(['Order ID', 'Customer ID', 'Customer Name', 'Segment', 'City',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [ ]:
datos.dtypes #tipo de datos

Order ID          object
Customer ID       object
Customer Name     object
Segment           object
City              object
Postal Code      float64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [ ]:
datos.shape #tamaño del dataframe

(9994, 15)

In [ ]:
# DATOS: Observa los datos de manera inicial, oberva los primeros n y los ultimos n, donde pruebes con varios valores de n
datos.head(10) #lo sprimeros 10 renlones de datos

,Order ID,Customer ID,Customer Name,Segment,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2018-140326,HW-14935,Helen Wasserman,Corporate,Chicago,60653.0,Central,FUR-BO-10000112,Furniture,Bookcases,"Bush Birmingham Collection Bookcase, Dark Cherry",825.174,9,0.30,-117.8820
1,CA-2016-130785,AG-10900,Arthur Gainer,Consumer,San Diego,92105.0,West,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",411.332,4,0.15,-4.8392
2,CA-2015-105249,DH-13675,Duane Huffman,Home Office,San Francisco,94122.0,West,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",411.332,4,0.15,-4.8392
3,CA-2018-125472,BD-11725,Bruce Degenhardt,Consumer,Lafayette,70506.0,South,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",241.960,2,0.00,33.8744
4,CA-2016-118423,DP-13390,Dennis Pardue,Home Office,Peoria,61604.0,Central,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,359.058,3,0.30,-35.9058
5,CA-2015-156349,ML-17395,Marina Lichtenstein,Corporate,Los Angeles,90008.0,West,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,290.666,2,0.15,27.3568
6,CA-2017-165848,EN-13780,Edward Nazzal,Consumer,New York City,10035.0,East,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,136.784,1,0.20,5.1294
7,US-2015-123183,GR-14560,Georgia Rosenberg,Corporate,Wilmington,19805.0,East,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,1025.880,6,0.00,235.9524
8,CA-2015-133592,KM-16375,Katherine Murray,Home Office,Providence,2908.0,East,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,341.960,2,0.00,78.6508
9,CA-2018-161200,SV-20365,Seth Vernon,Consumer,Lafayette,70506.0,South,FUR-BO-10000468,Furniture,Bookcases,O'Sullivan 2-Shelf Heavy-Duty Bookcases,145.740,3,0.00,23.3184

In [ ]:
datos.tail(10) #los últimos 10 renglones de datos

,Order ID,Customer ID,Customer Name,Segment,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9984,CA-2015-165309,KD-16270,Karen Daniels,Consumer,Houston,77095.0,Central,TEC-PH-10004959,Technology,Phones,Classic Ivory Antique Telephone ZL1810,241.176,3,0.2,15.0735
9985,CA-2017-117590,GH-14485,Gene Hale,Corporate,Richardson,75080.0,Central,TEC-PH-10004977,Technology,Phones,GE 30524EE4,1097.544,7,0.2,123.4737
9986,CA-2018-145233,DV-13465,Dianna Vittorini,Consumer,Denver,80219.0,West,TEC-PH-10004977,Technology,Phones,GE 30524EE4,470.376,3,0.2,52.9173
9987,CA-2015-136399,CC-12100,Chad Cunningham,Home Office,Los Angeles,90049.0,West,TEC-PH-10004977,Technology,Phones,GE 30524EE4,627.168,4,0.2,70.5564
9988,CA-2018-122196,CA-12265,Christina Anderson,Consumer,Wilmington,19805.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,391.980,2,0.0,113.6742
9989,CA-2018-144498,MB-18085,Mick Brown,Consumer,Charlotte,28205.0,South,TEC-PH-10004977,Technology,Phones,GE 30524EE4,627.168,4,0.2,70.5564
9990,CA-2015-167199,ME-17320,Maria Etezadi,Home Office,Henderson,42420.0,South,TEC-PH-10004977,Technology,Phones,GE 30524EE4,391.980,2,0.0,113.6742
9991,CA-2018-121048,TC-21295,Toby Carlisle,Consumer,Westminster,92683.0,West,TEC-PH-10004977,Technology,Phones,GE 30524EE4,470.376,3,0.2,52.9173
9992,CA-2018-167395,KM-16720,Kunst Miller,Consumer,Lowell,1852.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,979.950,5,0.0,284.1855
9993,CA-2016-128608,CS-12490,Cindy Schnelling,Corporate,Toledo,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.188,2,0.4,-43.1178

# **FILTROS**

### Mostrar columas especificas de un dataframe.
Crea un dataframe "dfCLientes" donde almacenes el ID del CLiente y su nombre.
Muestra el dataframe.

dataframe[["col1", "col2"]]

In [ ]:
dfClientes= datos[['Customer ID', 'Customer Name']]
dfClientes

     Customer ID     Customer Name
0       HW-14935   Helen Wasserman
1       AG-10900     Arthur Gainer
2       DH-13675     Duane Huffman
3       BD-11725  Bruce Degenhardt
4       DP-13390     Dennis Pardue
...          ...               ...
9989    MB-18085        Mick Brown
9990    ME-17320     Maria Etezadi
9991    TC-21295     Toby Carlisle
9992    KM-16720      Kunst Miller
9993    CS-12490  Cindy Schnelling

[9994 rows x 2 columns]

**CLIENTES**.
¿Cuantos clientes se tienen?
Crea un dataframe con los IDs y nombre de clientes sin que estos se repitan.
Muestra la información.

In [ ]:
dfClientes.drop_duplicates('Customer ID')

     Customer ID     Customer Name
0       HW-14935   Helen Wasserman
1       AG-10900     Arthur Gainer
2       DH-13675     Duane Huffman
3       BD-11725  Bruce Degenhardt
4       DP-13390     Dennis Pardue
...          ...               ...
4558    MW-18235  Mitch Willingham
5061    PB-19210    Phillip Breyer
6029    BD-11560    Brendan Dodson
6744    CH-12070       Cathy Hwang
9921    JR-15700    Jocasta Rupert

[793 rows x 2 columns]

**Analiza los datos unicos.**

Obten la lista de ciudades,segmentos, regiones y categorias. De cada uno conoce la cantidad y visualiza las listas.
Crea un dataframe nuevo por cada consulta, el unique genera un arreglo numpy, conviertelo a dataframe, vizualizalo.

In [ ]:
ciudad= datos[['City']]
segmento= datos[['Segment']]
region = datos[['Region']]
categoria= datos[['Category']]

# **Filtros con**  iloc - loc
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html?highlight=iloc#pandas.DataFrame.iloc

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

Con la instrucción iloc y el dataframe dfDatos

*   Muestra los primeros 10 registros.
*   Muestra los registros del 20 al 25.
*   Muestra 10 registros con indices seleccionados aleatoreamente
*   Muestra los registros del 100 al 120, pero solo las columnas 4, 5 y 6

In [ ]:
# iloc
print(datos.iloc[1:11])
print(datos.iloc[20:26])
print(datos.iloc[100:121, 4:6])

Con la instrucción loc:


*   En una nuev df Asigna el ID de la orden como dato indice.
*   Realiza la busqueda de la orden "CA-2015-154599"
*   Obtnen los registros con Sales mayor a 5000. ¿cuantos son?

In [ ]:
# loc
dfOrden = datos[['Order ID']]

In [ ]:
datos.loc[datos['Order ID']=='CA-2015-154599',:]

,Order ID,Customer ID,Customer Name,Segment,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
24,CA-2015-154599,KN-16450,Kean Nguyen,Corporate,Redondo Beach,90278.0,West,FUR-BO-10001337,Furniture,Bookcases,O'Sullivan Living Dimensions 2-Shelf Bookcases,308.499,3,0.15,-18.1470
4200,CA-2015-154599,KN-16450,Kean Nguyen,Corporate,Redondo Beach,90278.0,West,OFF-BI-10002764,Office Supplies,Binders,Recycled Pressboard Report Cover with Reinforc...,18.088,7,0.20,6.5569
9205,CA-2015-154599,KN-16450,Kean Nguyen,Corporate,Redondo Beach,90278.0,West,TEC-PH-10000576,Technology,Phones,AT&T 1080 Corded phone,438.368,4,0.20,38.3572
9362,CA-2015-154599,KN-16450,Kean Nguyen,Corporate,Redondo Beach,90278.0,West,TEC-PH-10001557,Technology,Phones,Pyle PMP37LED,1075.088,14,0.20,94.0702

In [ ]:
datos[datos['Sales']>5000]

,Order ID,Customer ID,Customer Name,Segment,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3547,CA-2017-117121,AB-10105,Adrian Barton,Consumer,Detroit,48205.0,Central,OFF-BI-10000545,Office Supplies,Binders,GBC Ibimaster 500 Manual ProClick Binding System,9892.740,13,0.0,4946.3700
3731,CA-2015-116904,SC-20095,Sanjit Chand,Consumer,Minneapolis,55407.0,Central,OFF-BI-10001120,Office Supplies,Binders,Ibico EPK-21 Electric Binding System,9449.950,5,0.0,4630.4755
4418,CA-2016-145352,CM-12385,Christopher Martinez,Consumer,Atlanta,30318.0,South,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,6354.950,5,0.0,3177.4750
4426,CA-2018-135909,JW-15220,Jane Waco,Corporate,Sacramento,95823.0,West,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,5083.960,5,0.2,1906.4850
4903,CA-2018-138289,AR-10540,Andy Reiter,Consumer,Jackson,49201.0,Central,OFF-BI-10004995,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,5443.960,4,0.0,2504.2216
7957,CA-2015-143917,KL-16645,Ken Lonsdale,Consumer,San Francisco,94122.0,West,OFF-SU-10000151,Office Supplies,Supplies,High Speed Automatic Electric Letter Opener,8187.650,5,0.0,327.5060
8939,US-2017-140158,DR-12940,Daniel Raglin,Home Office,Providence,2908.0,East,TEC-CO-10001449,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,5399.910,9,0.0,2591.9568
8985,CA-2018-127180,TA-21385,Tom Ashbrook,Home Office,New York City,10024.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888
8986,CA-2018-166709,HL-15040,Hunter Lopez,Consumer,Newark,19711.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3,0.0,5039.9856
8987,CA-2017-143714,CC-12370,Christopher Conant,Consumer,Philadelphia,19120.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,8399.976,4,0.4,1119.9968
8988,CA-2017-118689,TC-20980,Tamara Chand,Corporate,Lafayette,47905.0,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950,5,0.0,8399.9760
8989,CA-2018-140151,RB-19360,Raymond Buch,Consumer,Seattle,98115.0,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808
9010,CA-2015-139892,BM-11140,Becky Martin,Consumer,San Antonio,78207.0,Central,TEC-MA-10000822,Technology,Machines,Lexmark MX611dhe Monochrome Laser Printer,8159.952,8,0.4,-1359.9920
9022,US-2017-107440,BS-11365,Bill Shonely,Corporate,Lakewood,8701.0,East,TEC-MA-10001047,Technology,Machines,"3D Systems Cube Printer, 2nd Generation, Magenta",9099.930,7,0.0,2365.9818
9023,CA-2018-143112,TS-21370,Todd Sumrall,Corporate,New York City,10035.0,East,TEC-MA-10001047,Technology,Machines,"3D Systems Cube Printer, 2nd Generation, Magenta",5199.960,4,0.0,1351.9896
9025,CA-2015-145541,TB-21400,Tom Boeckenhauer,Consumer,New York City,10024.0,East,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,6999.960,4,0.0,2239.9872
9026,CA-2017-158841,SE-20110,Sanjit Engle,Consumer,Arlington,22204.0,South,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.950,5,0.0,2799.9840
9050,CA-2015-145317,SM-20320,Sean Miller,Home Office,Jacksonville,32216.0,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6,0.5,-1811.0784
9091,US-2018-168116,GT-14635,Grant Thornton,Corporate,Burlington,27217.0,South,TEC-MA-10004125,Technology,Machines,Cubify CubeX 3D Printer Triple Head Print,7999.980,4,0.5,-3839.9904

## Estadisticas básicas con pandas
https://datatofish.com/use-pandas-to-calculate-stats-from-an-imported-csv-file/

df.describe()
Mean, sum, Maximum, Minimum, Count, Median, Standard deviation, Variance.

Obrten las estadisticas de los datos.


_________

In [ ]:
# Estadisticas basicas
print(max(datos))
print(min(datos))

Sub-Category
Category

**### Estadisticas con una condición**

Obten el promedio de utilidad de la región Central

Ejemplo de salida:

***Promedio de utilidad de ordenes de la región central : 23.45***

In [ ]:
# utiliza la intrucción loc para filtrar
#Conteo de frecuencias por observaciones únicas
print(datos['Region'].value_counts())
sum(datos.loc[datos['Region']=='Central',:])

West       3203
East       2848
Central    2323
South      1620
Name: Region, dtype: int64

TypeError: ignored

Obten la suma de ventas de la categoría "Technology"

# **Group By**
>La instrucción **groupby** realiza agrupamientos por uno o más datos, de tal forma que podremos realizar cálculos de datos por esos mismos grupos.

**TOP TEN x Ventas**

Obten las ventas (cantidad , ventas , descuento) por ciudad ordenado de manera descendente en cuanto a las ventas.

In [ ]:
#Primer paso usar groupby y generar un df
#Ordenar el daraframe de manera descendente y mostrar los primeros 10

**Generar otras dos vistas que sean de utilidad (con el groupby)**
Analizar otras dos vistas que consideran puden ser utiles para conocer más sobre los datos.

# **EXPORTACIÓN**

Exportar los df a archivos de EXCEL.

In [ ]:
# Exportar un df a un archivo de EXCEL.



---


# **SEGUNDA PARTE**

## ¿y las Gráficas?

Veamos la libreria **matplotlib**

In [ ]:
import matplotlib.pyplot as plt  # solo importamos del módulo  pyplot

### NORMALIZAR
Para poder comparar las ventas con los descuentos y ver si tienen una correlación debemos de ponerlos en una misma escala, para esto utilizremos la libreria **sklearn**

In [ ]:

from sklearn import preprocessing
import seaborn as sns